body {
  font-family: "Inter", sans-serif;
}

.card {
  border-radius: 12px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
tr.filtered-out {
  display: none;
}
.footer-brand {
  color: #7a673c;
  font-size: 1rem;
}
.footer-brand:hover {
  color: #495057;
}
